#game{
    border: solid 1px;
    background: yellowgreen;
    float: left;
}

#zoneJeu{
    width: 100%;
    display: inline-block;
}

#zoneAttaquant li{

    list-style: none;
}

#listeMonstres li{

    display: inline-block;
}